<div class="form-header">

    <input #myInput type="text"
    placeholder="Search for data ..."
    class="au-input au-input-xl" 
    (keyup.enter)="doSearch(myInput.value)"
    />
    
    <button (click)="doSearch(myInput.value)" 
            class="au-btn-submit">
        Search
    </button>

</div>